body {
	margin: 0 auto;
	background-color: black;
	color: seashell;
	opacity: 0.9;
	font-size: 22px;
	font-family: Helvetica;
}

header {
	display: flex;
	position: fixed;
	z-index: 2;
	border-bottom: 1px solid seashell;
	height: 69px;
	width: 100%;
	background-color: black;
}

.logo {
	height: 50px;
	padding: 10px;
}

.nav-links a {
	text-decoration: underline;
	color: seashell;
	padding: 12px;
	font-weight: bold;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main {
	margin: 0 auto;
	padding-top: 69px;
	height: 700px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.title-background {
	z-index: 1;	
	background-color: black;
	width: 100%;
	text-align: center;
}

.title-background h2, h4 {
	margin: 10px 0px 10px 0px;
}

.section {
	display: inline-block;
	width: 1000px;
	margin: auto 100px;
}

.title-section {
	text-align: center;
}

.section h2 {
	margin-top: 80px;
}

.section h4 {
	margin-bottom: 25px;
}

.section-group {
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
}

.section-image {
	height: 200px;
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section-image h4 {
	margin: 10px;
}

.locations {
	height: 570px;
	opacity: 1;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.locations h2 {
	margin: 100px 15px 15px 15px;
	display: flex;
	justify-content: center;
}

.section-2 {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
}

.locations-address {
	display: inline-flex;
	align-items: center;
	background-color: black;
	height: 300px;
	width: 300px;
}